<a href="https://colab.research.google.com/github/hislam000/CSC-599.70-Course-Project/blob/master/Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Intro to Data Science, Fall 2019 @ CCNY
# CSC-599.70-Course-Project
# Final-Project
# Team Member & Name: RentAdvisor (3-Member)

# ABDUR RAFEY
# HASIBUL ISLAM
# DZHONIBEK PARMANKULOV

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

%matplotlib inline

In [0]:
train_df = pd.read_csv('https://grantmlong.com/data/SE_rents2018_train.csv', index_col=0)
test_df = pd.read_csv('https://grantmlong.com/data/SE_rents2018_test1.csv', index_col=0)
submit1_df = pd.read_csv('https://grantmlong.com/data/SE_rents2018_test2.csv', index_col=0)
# submit2_df = pd.read_csv('https://grantmlong.com/data/SE_rents2018_test.csv', index_col=0)

In [4]:
train_df.sample(5)

          addr_unit  building_id  bedrooms  ...  unit  floornumber line
rental_id                                   ...
7258954         #1L       270520         4  ...    1L          1.0    L
7424695         #3C     18713668         2  ...    3C          3.0    C
7232875         #2E      1885417         0  ...    2E          2.0    E
7342519         #4A       107800         2  ...    4A          4.0    A
7298458       #23AB        57382         4  ...  23AB         23.0   AB

[5 rows x 38 columns]

In [0]:
# extract usable features
feature_cols = [
    'bedrooms', 'year_built', 'bathrooms', 'min_to_subway', 
    'size_sqft', 'no_fee', 'has_doorman',
    'addr_zip','floor_count',#'has_elevator',#'has_dishwasher',	#'is_furnished',	
    'has_gym','allows_pets',#'has_garage',
    'has_concierge',#'has_pool',#'has_garden',	
    #the reason of commenting out certain feature is because they are increasing mean squared error
]
train_features = train_df[feature_cols] 

# impute missing values with medians
train_features = train_features.fillna(train_features.median(), axis=0)

# construct target vector
train_target = train_df['rent']

In [6]:
# using linear regression method
lreg = LinearRegression()
lreg.fit(train_features, train_target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)