In [0]:
# Intro to Data Science, Fall 2019 @ CCNY
# CSC-599.70-Course-Project
# Team Member & Name: RentAdvisor (3-Member)

# HASIBUL ISLAM
# DZHONIBEK PARMANKULOV
# ABDUR RAFEY

In [0]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

%matplotlib inline

In [0]:
train_df = pd.read_csv('https://grantmlong.com/data/SE_rents2018_train.csv', index_col=0)
test_df = pd.read_csv('https://grantmlong.com/data/SE_rents2018_test1.csv', index_col=0)
submit1_df = pd.read_csv('https://grantmlong.com/data/SE_rents2018_test2.csv', index_col=0)

In [3]:
train_df.sample(5)

          addr_unit  building_id  bedrooms  ...  unit  floornumber line
rental_id                                   ...
7415533         #2D       370183         2  ...    2D          2.0    D
7410316          #3       201967         2  ...     3          3.0  NaN
7329139        #515          460         0  ...   515          5.0   15
7135096        #27L        55885         2  ...   27L         27.0    L
7265446         #5A      1864513         2  ...    5A          5.0    A

[5 rows x 38 columns]

In [0]:
# extract usable features
feature_cols = [
    'bedrooms', 'year_built', 'bathrooms', 'min_to_subway', 
    'size_sqft', 'no_fee', 'has_doorman','addr_zip',
    'floor_count',#'has_elevator',#'has_dishwasher',	#'is_furnished',	
    'has_gym','allows_pets',#'has_garage',
    'has_concierge',#'has_pool',#'has_garden',	
    #the reason of commenting out certain feature is because they are increasing mean squared error
]
train_features = train_df[feature_cols] 

# impute missing values with medians
train_features = train_features.fillna(train_features.median(), axis=0)

# construct target vector
train_target = train_df['rent']

In [127]:
#using linear regression method
lreg = LinearRegression()
lreg.fit(train_features, train_target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [128]:
test_features = test_df[feature_cols] 

# impute missing values with medians
test_features = test_features.fillna(train_features.median(), axis=0)

# construct predictions 
test_df['predicted'] = lreg.predict(test_features)
print("Prediction using train data against test 1:")

print("Mean Squared Error for Test1 :",mean_squared_error(test_df['rent'], test_df['predicted']))

Prediction using train data against test 1:
Mean Squared Error for Test1 : 3313817.143868871

In [129]:
#joining training data and test1 data to incredase total training data
master_df = train_df.append(test_df, sort=False)

master_features = master_df[feature_cols].fillna(master_df[feature_cols].median(), axis=0)
master_target = master_df['rent']
#linear regression
lreg.fit(master_features, master_target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [132]:
submit1_features = submit1_df[feature_cols].fillna(master_df[feature_cols].median(), axis=0)
submit1_df['rent'] = lreg.predict(submit1_features)
submit1_df['rent'].to_csv('test2.csv', header=True)
#these part has to be changed
submit1_df['median_rent'] = np.ones(submit1_df['rent'].shape) * master_target.median()
print("Prediction of rent for test2")
print("Mean Squared error for test 2: ",mean_squared_error(submit1_df['rent'], submit1_df['median_rent']))

Prediction of rent for test2
Mean Squared error for test 2:  5058501.210167723

In [131]:
submit1_df.sample(5)

          addr_unit  building_id  bedrooms  ...  floornumber  line median_rent
rental_id                                   ...
7525654        #25B        77122         3  ...         25.0     B      2900.0
7484698         #3L       397198         3  ...          3.0     L      2900.0
7495918         #4G        57391         1  ...          4.0     G      2900.0
7505905          #3     18352870         2  ...          3.0   NaN      2900.0
7481782          #3        48274         1  ...          3.0   NaN      2900.0

[5 rows x 39 columns]